# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
*.pyc

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.pyc
*~
*.swp
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc

# Translations
*.mo
*.pyc
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc

__pycache__/
local_settings.py
*.pyc

!debug.log
!request_handler.log
*.pyc

.env
db.sqlite3
# static/df_all_regions_uploaded.csv
# static/uploaded_historical_data.csv
# static/unique_increase_df.csv
# static/A2A_28_08_2021.csv
# static/A2A_28_08_2021.csv
static/df_all_regions_uploaded.csv
static/uploaded_historical_data.csv
static/pricebooks/solar_price_book_3.csv
static/pricebooks/solar_price_book_2.csv
static/pricebooks/petrochem_1.csv
static/pricebooks/solar_price_book.csv
static/pricebooks/solar_price_book.csv
DMP_API/__pycache__/__init__.cpython-37.pyc
DMP_API/__pycache__/__init__.cpython-310.pyc
DMP_API/__pycache__/settings.cpython-37.pyc
DMP_API/__pycache__/urls.cpython-37.pyc
DMP_API/__pycache__/wsgi.cpython-37.pyc
DMP_API/__pycache__/__init__.cpython-37.pyc
static/a2a_2.csv
static/A2A_28_08_2021.csv
static/a2a_conv_2.csv
static/all_dataframe_2.csv
static/app_rfp_df_after_search_2.csv
static/app_rfp_df_np_2.csv
static/app_to_app_rfp_after_search_2_2.csv
static/app_to_app_rfp_after_search_2.csv
static/df_1_after_search_2.csv
static/df_1_np_2.csv
static/df_full_2.csv
static/df_np_2.csv
static/df_org_2.csv
static/last_purchases_df_np_2.csv
static/new_df_a2a_conv_new_2.csv
static/new_df_a2a_conv_new.csv
static/new_df_a2a.csv
static/new_df_np_2.csv
static/new_pb_df_2.csv
static/non_pricebook_df_2.csv
static/pb_df_after_search_2.csv
static/result_df_2.csv
static/rfp_1_after_search_2.csv
static/temp_dash_after_search_2.csv
static/unique_increase_df_2.csv
static/uploaded_historical_data_1.csv
static/uploaded_historical_data_2.csv
static/uploaded_rfp_file_2.csv
static/new_df_a2a_conv_new.csv
static/new_df_a2a.csv
